{% extends ':default:layout.html.twig' %}

{% block content %}
    {% for post in paginatedPosts %}
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{ path('show_post', {'slug' : post.slug}) }}">{{ post.title }}</a>
            </h2>
            <p class="blog-post-meta">{{ post.createdAt | date('F j, Y') }} by <a
                        href="#">{{ post.createdBy.username }}</a></p>
            {{ post.content | raw }}
        </div><!-- /.blog-post -->
    {% endfor %}

    <div class="pager">
        {{ knp_pagination_render(paginatedPosts) }}
    </div>
{% endblock %}

